<div class='container-fluid'>
  <div class='row'>

    <!-- プロフィール -->
    <div class='col-lg-3 col-md-4 col-sm-4 col-12' style='height: auto;'>
      <div class="card my-2 sticky-top" style="width: 100%;">
        <%= image_tag current_user.icon.url(:mypage), class: 'rounded-3 mt-2 mx-1 d-block img-fluid' %>
        <div class="card-body">
          <h4 class="card-title text-center"><%= @user.name %></h4>
          <p class="card-text"><i class="bi bi-gift-fill"></i> 登録した欲しいもの数: <%= @user.items.count %></p>
          <p class="card-text" id="bookmark-count"><i class="bi bi-star-fill"></i> 登録したお気に入り数: <%= @user.favorites.count %></p>
        </div>
        <div class="card-footer text-end">
          <%= link_to edit_profiles_path do %>
            <i class="bi bi-pencil"></i>
          <% end %>
        </div>
      </div>
    </div>

    <!-- 欲しいものたち -->
    <div class='col-lg-9 col-md-8 col-sm-8 col-12 mt-2 rounded-3' style='background-color: white;'>
      <div class='container'>
        <h1 class='text-center sticky-top mb-3 z-1' style='height: 60px; background-color: white;'>登録した欲しいものリスト<i class="bi bi-emoji-smile"></i></h1>
          <% if @items.present? %>
            <div class="row row-cols-lg-4 row-cols-md-3 row-cols-2 g-4 overflow-auto">
              <%= render partial: 'items/item', collection: @items %>
            </div>
          <% else %>
            <p class='text-center'>まだ欲しいものたちが登録されていません...登録してね🥲！</p>
          <% end %>
        <div style='height: 100px;'></div>
      </div>
    </div>
  </div>
</div>