<div class='container-fluid' style='background-color: pink; height: 1400px;'>
  <div class='row' style='background-color: green; height: 300px;'>

    <%# プロフィール %>
    <div class='col-3' style='background-color: blue; height: 300px;'>
      <div class="card mt-2" style="width: 20rem;">
        <%= image_tag 'icon.jpeg', class: 'rounded-3 mt-1 mx-auto d-block', width: "300px", height: "300px" %>
        <div class="card-body">
          <h4 class="card-title text-center"><%= @user.name %></h4>
          <p class="card-text"><i class="bi bi-gift-fill"></i> 登録した欲しいもの数: <%= @user.items.count %></p>
          <p class="card-text"><i class="bi bi-star-fill"></i> 登録したお気に入り数: <%= @user.items.count %></p>
        </div>
        <div class="card-footer text-end">
          <%= link_to edit_profiles_path do %>
            <i class="bi bi-pencil"></i>
          <% end %>
        </div>
      </div>
    </div>

    <%# 欲しいものたち %>
    <div class='col' style='background-color: red; height: 150px;'>
    </div>
  </div>
</div>