<% set_meta_tags title: t('.title') %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1 class='text-center my-3'><%= t('.title') %></h1>

      <%= form_with(url: password_resets_path, local: true) do |f| %>

        <div class="mb-3">
          <%= label_tag do %>
            <i class="bi bi-envelope-fill"></i> <%= User.human_attribute_name(:email) %>
          <% end %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <%= f.submit class: 'btn btn-primary d-block mx-auto' %>
      <% end %>

    </div>
  </div>
</div>

