<%= form_with(model:item, local: true) do |f| %>
  <%=render 'shared/errors', object: f.object %>

  <div class="mb-3">
    <%= label_tag do %>
      <i class="bi bi-bag-heart"></i> <%= Item.human_attribute_name(:item_name) %><span class='required'>必須</span>
    <% end %>
    <%= f.text_field :item_name, class: 'form-control', placeholder: t('placeholder.item_name_form') %>
  </div>

  <div class="mb-3">
    <%= label_tag do %>
      <i class="bi bi-currency-yen"></i> <%= Item.human_attribute_name(:price) %><span class='required'>必須</span>
    <% end %>
    <%= f.number_field :price, class: 'form-control', placeholder: t('placeholder.price_form') %>
  </div>

  <div class="mb-3">
    <%= label_tag do %>
      <i class="bi bi-currency-yen"></i> <%= Item.human_attribute_name(:price_range) %><span class='required'>必須</span>
    <% end %></br>
    <%= f.select :price_range, Item.price_ranges_i18n.invert, {include_blank: '選択してください'} %>
  </div>

  <div class="mb-3">
    <%= label_tag do %>
      <i class="bi bi-person-heart"></i> <%= Item.human_attribute_name(:target_gender) %><span class='required'>必須</span>
    <% end %></br>
    <%= f.select :target_gender, Item.target_genders_i18n.invert, {include_blank: '選択してください'} %>
  </div>

  <div class="mb-3">
    <%= label_tag do %>
      <i class="bi bi-patch-question-fill"></i> <%= Genre.human_attribute_name(:name) %><span class='required'>必須</span>
    <% end %></br>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: '選択してください'} %>
  </div>

  <div class="mb-3">
    <%= label_tag do %>
      <i class="bi bi-tag-fill"></i> <%= Tag.human_attribute_name(:tag_name) %><span class='required'>10文字以内</span>
    <% end %>
    <%= f.text_field :tag_name, class: 'form-control', placeholder: t('placeholder.tag_name_form'), value: tags %>
  </div>

  <div class="mb-3">
    <%= label_tag do %>
      <i class="bi bi-pc-display-horizontal"></i> <%= Item.human_attribute_name(:item_url) %>
    <% end %>
    <%= f.url_field :item_url, class: 'form-control' %>
  </div>

    <div class="mb-3">
    <%= label_tag do %>
      <i class="bi bi-image-fill"></i> <%= Item.human_attribute_name(:item_image) %>
    <% end %>
    <%= f.file_field :item_image, class: 'form-control', accept: 'image/*' %>
    <%= f.hidden_field :item_image_cache %>
  </div>

  <div class="mb-3">
    <%= label_tag do %>
      <i class="bi bi-pc-display-horizontal"></i> <%= Item.human_attribute_name(:memo) %>
    <% end %>
    <%= f.text_area :memo, class: 'form-control', rows:5 %>
  </div>

  <%= f.submit class: 'btn btn-primary d-block mx-auto' %>
<% end %>