<div class="my-4">
  <%= search_form_for q, url: search_items_path, html: {class: 'd-flex mt-3'} do |f| %>
    <%= f.search_field :item_name_cont, class: 'form-control me-2', placeholder: Item.human_attribute_name('item_name') %>

    <%= f.search_field :tags_tag_name_cont, class: 'form-control me-2', placeholder: Tag.human_attribute_name('tag_name') %>

    <%= f.select :price_range_eq, Item.price_ranges_i18n.invert.map{|key, value| [key, Item.price_ranges[value]]},
                  { include_blank: t('defaults.select', choice: Item.human_attribute_name('price_range')) },
                  class: 'form-control me-2', placeholder: Item.human_attribute_name('price_range') %>

    <%= f.select :target_gender_eq, Item.target_genders_i18n.invert.map{|key, value| [key, Item.target_genders[value]]},
                  { include_blank: t('defaults.select', choice: Item.human_attribute_name('target_gender')) },
                  class: 'form-control me-2', placeholder: Item.human_attribute_name('target_gender') %>

    <%= f.submit '検索', class: 'btn btn-primary' %>
  <% end %>
</div>