<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1 class='text-center my-3'>欲しいもの登録 <i class="bi bi-pencil-fill"></i></h1>

      <%= form_with(model:@item, local: true) do |f| %>
        <%=render 'shared/errors', object: f.object %>

        <div class="mb-3">
          <%= label_tag do %>
            <i class="bi bi-bag-heart"></i> <%= Item.human_attribute_name(:name) %>
          <% end %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= label_tag do %>
            <i class="bi bi-currency-yen"></i> <%= Item.human_attribute_name(:price) %>
          <% end %>
          <%= f.number_field :price, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= label_tag do %>
            <i class="bi bi-currency-yen"></i> <%= Item.human_attribute_name(:price_range) %>
          <% end %>
          <%= f.text_field :password, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= label_tag do %>
            <i class="bi bi-key-fill"></i> <%= User.human_attribute_name(:password_confirmation) %>
          <% end %>
          <%= f.text_field :password_confirmation, class: 'form-control' %>
        </div>

        <%= f.submit class: 'btn btn-primary d-block mx-auto' %>
      <% end %>
    </div>
  </div>
</div>

