<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1 class='text-center my-3'>欲しいもの登録 <i class="bi bi-pencil-fill"></i></h1>

      <%= form_with(model:@item, local: true) do |f| %>
        <%=render 'shared/errors', object: f.object %>

        <div class="mb-3">
          <%= label_tag do %>
            <i class="bi bi-bag-heart"></i> <%= Item.human_attribute_name(:name) %><span class='required'>必須</span>
          <% end %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= label_tag do %>
            <i class="bi bi-currency-yen"></i> <%= Item.human_attribute_name(:price) %><span class='required'>必須</span>
          <% end %>
          <%= f.number_field :price, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= label_tag do %>
            <i class="bi bi-currency-yen"></i> <%= Item.human_attribute_name(:price_range) %><span class='required'>必須</span>
          <% end %></br>
          <%= f.select :price_range, Item.price_ranges_i18n.invert, {include_blank: '選択してください'} %>
        </div>

        <div class="mb-3">
          <%= label_tag do %>
            <i class="bi bi-person-heart"></i> <%= Item.human_attribute_name(:target_gender) %><span class='required'>必須</span>
          <% end %></br>
          <%= f.select :target_gender, Item.target_genders_i18n.invert, {include_blank: '選択してください'} %>
        </div>

        <div class="mb-3">
          <%= label_tag do %>
            <i class="bi bi-pc-display-horizontal"></i> <%= Item.human_attribute_name(:item_url) %>
          <% end %>
          <%= f.url_field :name, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= label_tag do %>
            <i class="bi bi-pc-display-horizontal"></i> <%= Item.human_attribute_name(:memo) %>
          <% end %>
          <%= f.text_area :name, class: 'form-control', rows:5 %>
        </div>

        <%= f.submit class: 'btn btn-primary d-block mx-auto' %>
      <% end %>
    </div>
  </div>
</div>

