<% set_meta_tags title: t('.title') %>
<div class="container item-show">
  <div class="row mb-3">
    <div class="col-lg-10 offset-lg-1">
      <h1 class='text-center my-3'><i class="bi bi-cart"></i> <%= t('.user_name', name: @item.user.name) %></h1>

      <div class='container'>
        <div class="card my-3 border-info" >
          <div class="row g-0">
            <div class="col-md-4 position-relative">
              <div>
                <%= image_tag @item.item_image.url, class: 'rounded mt-3 mx-auto d-block img-fluid' %>
              </div>
              <div>
                <% if current_user.own?(@item) %>
                  <%= render 'crud_menus', {item: @item} %>
                <% else %>
                  <%= render 'bookmarks/bookmark_button', {item: @item} %>
                <% end %>
              </div>
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <div class="h4 mb-4 text-danger border-bottom border-danger">
                  <h5 class="text-start"><%= Item.human_attribute_name('item_name') %>: <span style="color: black;"><%= @item.item_name %></h5></span>
                </div>

                <div class="h4 mb-4 text-danger border-bottom border-danger">
                  <h5 class="text-start"><%= Item.human_attribute_name('price') %>: <span style="color: black;"><%= @item.price %>円</h5></span>
                </div>

                <div class="h4 mb-4 text-danger border-bottom border-danger">
                  <h5 class="text-start"><%= Item.human_attribute_name('price_range') %>: <span style="color: black;"><%= @item.price_range_i18n %></h5></span>
                </div>

                <div class="h4 mb-4 text-danger border-bottom border-danger">
                  <h5 class="text-start"><%= Item.human_attribute_name('target_gender') %>: <span style="color: black;"><%= @item.target_gender_i18n %></h5></span>
                </div>

                <div class="h4 mb-4 text-danger border-bottom border-danger">
                  <h5 class="text-start"><%= Tag.human_attribute_name('tag_name') %>: <span style="color: black;"><%= render partial: 'item_tag', collection: @item.tags %></h5></span>
                </div>

                <div class="h4 mb-4 text-danger border-bottom border-danger">
                  <h5 class="text-start"><%= Item.human_attribute_name('item_url') %>: <span style="color: black;">
                  <% if @item.item_url.present? %>
                    <%= link_to truncate(@item.item_url, length: 50), @item.item_url, target: "_blank" %>
                  <% end %></span>
                  </h5>
                </div>

                <h5 class="text-start text-danger"><%= Item.human_attribute_name('memo') %>:</h5>
                <div class="border border-danger p-2" style="min-height: 5em;">
                  <p class="card-text no-margin"><%= simple_format(h(@item.memo)) %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row pagenation">
        <% if @item.previous.present? %>
          <%= link_to item_path(@item.previous), class: "col text-start" do %>
            <h3><i class="bi bi-arrow-left-circle"></i></h3>
          <% end %>
        <% end %>
        <% if @item.next.present? %>
          <%= link_to item_path(@item.next), class: "col text-end" do %>
            <h3><i class="bi bi-arrow-right-circle"></i></h3>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>